body {
    font-family: 'Roboto', sans-serif;
    
    
}
.r0{
    background-color: #1F2937;
    color: white;

}
.r1 {
    display: flex;
}
h4{
    padding: 10px;
    margin: 10px;
    margin-left: 100px;
}
a {
    color: seashell;
    font-size: 12.5px;
    padding: 10px;
    margin: 10px;
}
.l1 {
    margin-left: 1200px;
}
h2 {
    margin-left: 100px;
    padding: 10px;
    font-size: 32px;
}
